<nav id="kh-app-body-nav-bar">
    <div id="kh-app-body-nav-bar-toggle-menu">
        <button class="icon-paragraph-justify" id="kh-app-body-nav-bar-toggle-menu-btn"></button>
    </div>
  {#  <div id="kh-app-body-nav-bar-search-view">
        <input type="search" id="global_search" placeholder="Recherche...">
        <label for="global_search" class="icon-search"></label>
        <div id="kh-app-body-nav-bar-search-view-content">
            {% for i in 'A'..'Z' %}
                <a href="#" style="display: none" class="kh-app-body-nav-bar-search-view-content-item" data-name="{{ i }}" data-matricule="4{{ i }}2{{ i }}451">
                    <div class="kh-app-body-nav-bar-search-view-content-item-value">
                        Lorem ipsum dolor sit amet, adipisicing elit {{ i }}.
                    </div>
                    <div class="kh-app-body-nav-bar-search-view-content-item-value">
                        <span class="icon-cart"></span>
                    </div>
                    <div class="kh-app-body-nav-bar-search-view-content-item-value">
                        <a href="#" class="icon-tree"></a>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>#}
    <div class="kh-app-body-nav-bar-item">
        <div class="kh-app-body-nav-bar-item-img" id="kh-app-body-nav-bar-item-btn">
            {% set _url= app.user.image ? app.user.image.url : null %}
            {{ image_profile(app.user.firstname~" "~app.user.lastname,_url,"rounded","42px","0.8rem","1.1") | raw }}
        </div>
        <div class="kh-app-body-nav-bar-item-sub-menu-container" style="display: none;">
            <header>
                {{ app.user.lastname~" "~app.user.firstname }}
            </header>
            <div class="kh-app-body-nav-bar-item-sub-menu-item">
                <a href="{{ path('user_admin.show',{ref:app.user.ref}) }}" class="kh-app-body-nav-bar-item-sub-menu-item-link">
                    <span class="icon-power"></span>
                    <span> Gérer le compte</span>
                </a>
            </div>
            <div class="kh-app-body-nav-bar-item-sub-menu-item">
                <a href="{{ path('admin_logout') }}" class="kh-app-body-nav-bar-item-sub-menu-item-link">
                    <span class="icon-exit"></span>
                    <span>Déconnexion</span>
                </a>
            </div>
        </div>
    </div>
</nav>