{% extends 'admin/layouts/index.html.twig' %}
{% from 'views.html' import navigate,chart_view %}

{% block content %}
    <div class="row" style="justify-content: center;">
        <div class="col-12">
            {{ chart_view(stateData,{label:'Equipement informatique',type:'bar'}) }}
        </div>
    </div>
    <div id="home">

        <div class="home-item">
            <div class="home-item-content">
                <div class="home-item-content-svg">
                    {% include 'svg/team.html.twig' %}
                </div>
                <h3>
                    <strong>{{ staff }}</strong>
                    Personnel(s)
                </h3>
                <a href="{{ path('user_admin.index') }}">
                    <span></span>
                    <span>Afficher la liste du personnel</span>
                </a>
            </div>
        </div>
        <div class="home-item">
            <div class="home-item-content">
                <div class="home-item-content-svg">
                    {% include 'svg/statistics.html.twig' %}
                </div>
                <h3>
                    <strong>
                        {{ equipment }}
                    </strong>
                    Equipement(s)
                </h3>
                <a href="{{ path('equipment.index') }}">
                    <span></span>
                    <span>
                        Afficher tous les equipements enrégistrés
                    </span>
                </a>
            </div>
        </div>
        <div class="home-item">
            <div class="home-item-content">
                <div class="home-item-content-svg">
                    {% include 'svg/user.html.twig' %}
                </div>
                <h3>
                    <strong>{{ maintainer }}</strong>
                    Maintenancier(s)
                </h3>
                <a href="{{ path('maintainer.index') }}">
                    <span></span>
                    <span>Afficher tous des maintenancier(s)</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Accueil
{% endblock %}
{% block navigate %}
    {{ navigate([{url:app.request.uri,label:'Accueil'}]) }}
{% endblock %}