{% extends 'admin/layouts/index.html.twig' %}
{% from 'admin/component.html.twig' import navigate,input,media_store,select %}

{% block content %}
    {% set _image %}
        <div style="width: 172px;height: 172px;background-color: #e7eced;">
            {% set _url= equipment.image ? equipment.image.url : null %}
            {{ media_store("_image",{url:_url,prefix:'_equipment_',icon:'user',imgClass:'_img_equipment'}) }}
        </div>
    {% endset %}
    {% set _content %}
        <div class="row">
            <div class="col-12">
                {{ _image }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8">
                {{ input("Nom","_name",{value:error ? error.name : equipment.name,required:true,focus:true}) }}
            </div>
            <div class="col-12 col-md-4">
                {{ input("Numéro de série","_num_serie",{value:error ? error.numSerie : equipment.numSerie,required:true}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                {{ input("Marque","_brand",{value:error ? error.brand : equipment.brand,required:true}) }}
            </div>
            <div class="col-12 col-md-4">
                {{ input("Couleur","_color",{value:error ? error.color : equipment.color,required:true}) }}
            </div>
            <div class="col-12 col-md-4">
                {{ input("Date d'achat","_date_buy",{type:"date",value:error ? error.dateBuy|date("Y-m-d") : equipment.dateBuy|date("Y-m-d"),required:true}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% set _options %}
                    <option></option>
                    {% for item in  users %}
                        <option value="{{ item.id }}"
                                {% if equipment.attributions|length>0 and equipment.attributions|last.id == item.id  %}
                                selected
                                {% endif %}>
                            {{ item.lastname~" "~item.firstname }}
                        </option>
                    {% endfor %}
                {% endset %}
                {{ select("Attribuer à:","_user",_options,{hint:"Selectionner"}) }}
            </div>
        </div>
    {% endset %}
    {% embed "admin/components/insert-view.html.twig" with {method:'put',csrf:'_user_equipment_update'} %}
        {% block body %} {{ _content }} {% endblock %}
    {% endembed %}
{% endblock %}

{% block title %}
    Matériel informatique
{% endblock %}
{% block navigate %}
    {{ navigate([{url:path('admin_home.index'),label:'Accueil'},{url:path('equipment.index'),label:'Matériels informatiques'},{url:path('equipment.edit',{id:equipment.id}),label:'Edition'}]) }}
{% endblock %}